<!DOCTYPE html>
<html>

<head>

    <title>Update Student</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <h2>Student Management</h2>

    <div>
        <a href="/">Home</a>
        <a href="/students">Students</a>
    </div>

</nav>

<div class="container">

    <h1>Update Student</h1>

    <form action="/update_student/{{ student[0] }}"
    method="POST">

        <input type="text"
        name="name"
        value="{{ student[1] }}"
        required>

        <input type="number"
        name="age"
        value="{{ student[2] }}"
        required>

        <input type="text"
        name="course"
        value="{{ student[3] }}"
        required>

        <button type="submit">
            Update Student
        </button>

    </form>

</div>

</body>

</html>